BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentAccessModifiers: false
AccessModifierOffset: -4
